%style
  :plain
    #factory-scenarios-container {
      background: white;
      border-top: 5px outset;
      position: fixed;
      width: 100%;
      height: 50px;
      padding: 20px
      font-size: 16px;
      z-index: 10000;
    }

#factory-scenarios-container
  - for scenario in @scenarios
    = link_to scenario.name, enact_factory_scenario_path(scenario)
  