%ul#factory-scenarios-container
  - for scenario in @scenarios
    %li 
      = link_to scenario.name, enact_factory_scenario_path(scenario)
      = link_to "reload", enact_factory_scenario_path(scenario, :clear => true) if scenario.persisted?
  